body {
    padding: 2rem;
    background-color: #85786b;
    color: #39332d;
}

h1 {
    color: #e8e6e3;
}

h2 {
    color: #d2ccc6;
}

.film-poster-small {
    width: 150px;
    cursor: pointer
}

.film-poster {
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.modal {
    background-color: rgba(0, 0, 0, 0.6);
}