{% extends 'main.html' %}

{% block title %}Project: film{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        Zalogowano jako: {{ user.username }}
        <a class="btn" href="{% url 'logout' %}">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </a>
    {% else %}
        <a href="{% url 'login' %}">Log in</a>
    {% endif %}

    <hr>

    <div class="container" style="width: 64rem">
    <h1>All films from database</h1>

    Bardzo cieszę się, że mogę Państwu przedstawić poniższe filmy (liczba filmów w bazie: {{ films|length }}).<br>
    <a class="btn" href="{% url 'new_film_view' %}" style="color:#d2ccc6;">
        Add new film
        <i class="fa-solid fa-film"></i>
    </a>
    <a class="btn" href="{% url 'new_actor_view' %}" style="color:#d2ccc6;">
        Add new actor
        <i class="fa-solid fa-person"></i>
    </a>
    <br><br>
        </div>

    {% if films_length == 0 %}
        <p>Baza filmów jest jeszcze pusta.</p>
    {% else %}
        {% for film, rating in film_with_ratings %}
            <div align="center">
                <div class="card" style="width: 64rem" align="left">
                    <div class="card-body">
                        <img src="/media/{{film.poster}}" class="film-poster" style="float: left">
                        <div class="row">
                            <h3>
                                <a class="h3" href="{% url 'film_details_view' film.id %}" style="text-decoration: none;">
                                    {{ film.title }} ({{ film.year }})
                                </a>
                                <a class="btn" href="{% url 'edit_film_view' film.id %}">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </a>

                                <a class="btn"  href="{% url 'delete_film_view' film.id %}">
                                    <i class="fa-regular fa-trash-can"></i>
                                </a>
                                <div style="float: right">
                                    {{ rating }} <i class="fa-solid fa-star"></i>
                                </div>
                            </h3>
                        </div>
                        <div class="row">
                            <p class="card-text desc">{{ film.desc }}</p><br>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
