{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'filmy.css' %}">
</head>
<body>
    <a href="{% url 'logout' %}">Log out</a>
    <h1>All films from database</h1>
    <p>Bardzo cieszę się, że mogę Państwu przedstawić poniższe filmy (liczba filmów w bazie: {{ films|length }}).</p><br>
    <h2>{{ dynamic_content }}</h2>

    <a style="font-size: 25px"  href="{% url 'new_film_view' %}">&emsp;&emsp;&emsp;&emsp;New film&emsp;&emsp;&emsp;&emsp;</a>

    {% if films|length == 0 %}
        <p>Baza filmów jest jeszcze pusta.</p>
    {% else %}
        {% for film in films %}
            <h3>{{ film.title }} ({{ film.year }})</h3>
            <p>{{ film.desc }}</p>
            <a href="{% url 'edit_film_view' film.id %}">Edit</a>
            <a href="{% url 'delete_film_view' film.id %}">Delete</a>
            <br><br>
        {% endfor %}
    {% endif %}
</body>
</html>